################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Inventroy_System_API/bin/Debug/net6.0/Inventroy_System_API.dll
/Inventroy_System_API/bin/Debug/net6.0/Inventroy_System_API.pdb
/Inventroy_System_API/obj/Debug/net6.0/Inventroy_System_API.csproj.CoreCompileInputs.cache
/Inventroy_System_API/obj/Debug/net6.0/Inventroy_System_API.pdb
/Inventroy_System_API/obj/Debug/net6.0/Inventroy_System_API.dll
/Inventroy_System_API/obj/Debug/net6.0/ref/Inventroy_System_API.dll
/Inventroy_System_API/obj/Debug/net6.0/refint/Inventroy_System_API.dll
/.vs/ProjectEvaluation/inventroy_system_api.metadata.v6.1
/.vs/ProjectEvaluation/inventroy_system_api.projects.v6.1
.vs/Inventroy_System_API/FileContentIndex/44a0f8dd-949d-4c6b-9062-83c4017184a8.vsidx
/.vs/Inventroy_System_API/CopilotIndices/17.14.1204.46620
/.vs/Inventroy_System_API/DesignTimeBuild/.dtbcache.v2
*.vsidx
/.vs/Inventroy_System_API/v17/.futdcache.v2
/.vs/Inventroy_System_API/v17/.suo
